@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap');

:root {
    --primary-color: #684711;
    --dark-font: #0c0c0f;
    --white-font: #f5f5fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid 1px black; */
}

body {
    height: 100vh;
    width: 100vw;
    background: url('../images/homepage.jpg') no-repeat fixed center/cover;
}

#homepage-header {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 10px;
}

nav {
    padding-left: 10px;
    padding-right: 10px;
    background: var(--dark-font);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: var(--white-font);
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

nav ul li#onlineOrder {
    margin-left: auto;
}

nav ul li button {
    padding: 10px 20px;
    color: var(--white-font);
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(8px, 7.5vw, 25px);
    font-weight: 700;
    width: fit-content;
    transition: all 0.25s;
}

nav ul li button:hover {
    background-color: var(--white-font);
    color: var(--dark-font);
    cursor: pointer;
}

nav ul li#logo img {
    height: 80px;
    border-radius: 50%;
}

nav ul li#logo {
    margin-right: auto;
}

nav ul li a {
    color: var(--white-font);
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: clamp(8px, 7.5vw, 25px);
    color: var(--white-font);
    position: relative;
}

nav ul li:nth-child(n+2):nth-child(-n+4) a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -10px;
    left: 0;
    background-color: var(--primary-color);
    transition: transform 0.2s ease-out;
}

nav ul li:nth-child(n+2):nth-child(-n+4) a:hover::after{
    transform: scaleX(1);
}

.container-welcome {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 10%;
    position: relative;

    /* From https://css.glass */
    background: rgba(72, 68, 68, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

.container-welcome h1 {
    font-size: clamp(50px, 15vw, 180px);
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    padding-left: 10px;
    position: relative;
    bottom: 20px;
}

.container-welcome .intro {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(8px, 7.5vw, 20px);
    color: var(--white-font);
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    bottom: 40px;
}

button#bookTable {
    margin-top: 2vw;
    padding: 15px 60px;
    color: var(--white-font);
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    width: fit-content;
    transition: all 0.25s;
}

button#bookTable:hover {
    background-color: var(--white-font);
    color: var(--dark-font);
    cursor: pointer;
}