@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Oswald:wght@700&family=Poppins&family=Roboto&display=swap");

:root {
    --primary-color: #684711;
    --secondary-color: #d8aa5f;
    --dark-font: #0c0c0f;
    --white-font: #f5f5fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: auto;
}

#home-container {
    background: url("../images/homepage.jpg") no-repeat fixed center/cover;
    height: calc(100vh - 95px);
}

/* NAVIGATION BAR STYLES */

nav {
    padding-left: 10px;
    padding-right: 10px;
    background: var(--dark-font);
    position: sticky;
    top: 0;
    height: 95px;
    display: grid;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    color: var(--white-font);
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

nav ul li#onlineOrder {
    margin-left: auto;
}

nav ul li button {
    padding: 10px 20px;
    color: var(--white-font);
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-size: clamp(8px, 7.5vw, 25px);
    font-weight: 700;
    width: fit-content;
    transition: all 0.25s;
}

nav ul li button:hover {
    background-color: var(--white-font);
    color: var(--dark-font);
    cursor: pointer;
}

nav ul li#logo img {
    height: 80px;
    border-radius: 50%;
}

nav ul li#logo {
    margin-right: auto;
}

nav ul li a {
    color: var(--white-font);
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: clamp(8px, 7.5vw, 25px);
    color: var(--white-font);
    position: relative;
}

nav ul li:nth-child(n + 2):nth-child(-n + 4) a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -10px;
    left: 0;
    background-color: var(--primary-color);
    transition: transform 0.2s ease-out;
}

nav ul li:nth-child(n + 2):nth-child(-n + 4) a:hover::after {
    transform: scaleX(1);
}

/* HOMEPAGE STYLES */

#homepage-header {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 10px;
}

.container-welcome {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 10%;
    position: relative;
    background: rgba(72, 68, 68, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

.container-welcome h1 {
    font-size: clamp(50px, 15vw, 180px);
    font-family: "Oswald", sans-serif;
    color: var(--primary-color);
    padding-left: 10px;
    position: relative;
    bottom: 20px;
}

.container-welcome .intro {
    font-family: "Poppins", sans-serif;
    font-size: clamp(8px, 7.5vw, 20px);
    color: var(--white-font);
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    bottom: 40px;
}

button#bookTable {
    margin-top: 2vw;
    padding: 15px 60px;
    color: var(--white-font);
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    width: fit-content;
    transition: all 0.25s;
}

button#bookTable:hover {
    background-color: var(--white-font);
    color: var(--dark-font);
    cursor: pointer;
}

/* MENU PAGE STYLES */

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.section:nth-child(odd) {
    grid-template-areas: "menu-img menu-card ....";
}

.section:nth-child(odd) > .menu-img {
    justify-self: start;
}

.section:nth-child(even) {
    grid-template-areas: ".... menu-card menu-img";
}

.section:nth-child(even) > .menu-img {
    justify-self: end;
}

.section:not(:first-child) {
    margin-top: 100px;
}

.menu-img {
    grid-area: menu-img;
}

.menu-card {
    grid-area: menu-card;
}

.menu-img {
    width: fit-content;
    align-self: start;
}

.menu-img img {
    width: 30vw;
    height: auto;
}

.menu-card h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}

.menu-illus {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu-illus img {
    width: 150px;
}

.food-card {
    padding: 35px 0;
    border-top: solid 2px var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.price {
    margin-left: auto;
    align-self: center;
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.food-card:last-child {
    border-bottom: solid 2px var(--primary-color);
}

.food h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

.food p {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: justify;
}

.pizza-card:last-child {
    border-bottom: none;
}

/* CONTACT US PAGE STYLES */

#contact-container {
    height: calc(100vh - 95px);
    background-color: var(--secondary-color);
}

#contact-main {
    width: 70vw;
    height: 80vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: var(--primary-color);
    position: absolute;
    height: 60vh;
    top: 15%;
    box-shadow: 14px 14px 39px #a6a6a6;
}

#info-container h1 {
    font-family: "Oswald", sans-serif;
    color: var(--white-font);
    width: fit-content;
}

.details {
    display: flex;
    align-items: center;
    gap: 25px;
    width: fit-content;
}

.details img {
    height: 30px;
}

.details p,
.details a {
    font-family: "Poppins", sans-serif;
    color: var(--white-font);
    font-size: clamp(8px, 7.5vw, 20px);
}

.details a {
    text-decoration: none;
}

#contact-form-container {
    width: 60vw;
    height: 80vh;
    background-color: var(--white-font);
    position: absolute;
    right: 0;
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: ".... form";
}

#contact-form-container form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form h1 {
    font-family: "Oswald", sans-serif;
    color: var(--primary-color);
    font-size: clamp(50px, 15vw, 50px);
}

form p {
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    font-size: clamp(8px, 7.5vw, 1.1rem);
}

form button {
    padding: 10px 50px;
    color: var(--white-font);
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-size: clamp(8px, 7.5vw, 25px);
    font-weight: 700;
    width: fit-content;
    transition: all 0.25s;
}

form button:hover {
    background-color: var(--secondary-color);
    color: var(--dark-font);
    cursor: pointer;
}

#input-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

.input-wrapper input,
.input-wrapper textarea {
    font-family: "Poppins", sans-serif;
    width: 30vw;
    height: 3em;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    border: gold solid 1px;
    padding: 10px;
}

.input-wrapper:last-child textarea {
    height: 8em;
    resize: none;
}

label {
    opacity: 0.5;
    width: fit-content;
    font-size: 1.2rem;
    transform: translate(10px, 12px);
    transition: all 0.5s;
    background-color: var(--white-font);
    position: absolute;
}

input:focus + label,
input:valid + label,
textarea:focus + label {
    transform: translate(7px, -10px);
    opacity: 1;
    font-size: 1rem;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
    border: solid 2px gold;
    outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: solid 2px rgb(223, 39, 39);
}

input:not(:focus):not(:placeholder-shown):invalid + label {
    opacity: 0;
}
